@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui"{
  themes: dark --default;
};

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #02FF95;
  --color-secondary: #0B1926;
  --color-accent: #D1FFEB;
};

*{
  font-family: 'inter', sans-serif;
};

body {
  @apply bg-gradient-to-r from-[#0B1926] to-[#020606];
}